.cursor {
  pointer-events: none;
  background-image: url("../images/mouse-default.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  position: absolute;
  left: 0;
  z-index: 10;
  width: 2%;
  height: 2%;
//   transform: translateX(-25%)
}
.cursor--click {
  @extend .cursor;
  transform: scale(0.7);
}
