.header {
  position: fixed;
  z-index: 5;
  width: 97.5%;
  // top: 0;
  padding: 0 1.25%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include media("<=phone") {
    width: 95%;
    margin-left: 2.5%;
    // margin-right: 50%;
  }
}
.header--left {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include media("<=xxl-desktop") {
    width: 30%;
  }
  @include media("<=xl-desktop") {
    width: 35%;
  }
  @include media("<=desktop") {
    width: 42.5%;
  }
  @include media("<=tablet") {
    width: 55%;
  }
  @include media("<=phone") {
    width: 80%;
  }
}
.site-title {
  display: inline-block;
}
.header--link {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.header--right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.header--icon {
  width: 6%;
  height: 6%;
  cursor: pointer;
}
#album-title {
  padding-top: 6.6px;
  margin-left: 3.5px;
}
.morph-icon-wrapper {
  display: inline-block;
  @include media("<=phone") {
    margin-right: 20%;
  }
}
.morph-icon {
  position: relative;
  top: 15px;
  cursor: pointer;
  width: 75%;
}
