.album-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}
.album-menu--X {
  position: absolute;
  margin: 0;
  top: 2.5%;
  right: 2.5%;
  font-size: 2.75rem;
  cursor: pointer;
}
.album-menu--item {
  cursor: pointer;
}
