@import "./components/cursor";
@import "./components/load-screen";
@import "./components/header";
@import "./components/image";
@import "./components/scene";
@import "./components/footer";
@import "./components/menu";
@import "./components/about";

@font-face {
  font-family: "El Messiri";
  src: url("../fonts/elmessiri-bold.otf") format("opentype");
}
@font-face {
  font-family: "Tiempos Black Italic";
  src: url("../fonts/tiempos-headline-black-italic.woff") format("woff");
}
@font-face {
  font-family: "Telegraf Medium";
  src: url("../fonts/telegraf-medium.woff2") format("woff2");
}
@font-face {
  font-family: "Telegraf Regular";
  src: url("../fonts/telegraf-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Telegraf Ultralight";
  src: url("../fonts/telegraf-ultralight.otf") format("opentype");
}
@font-face {
  font-family: "National Light";
  src: url("../fonts/national-2-test-light.woff") format("woff");
}
@font-face {
  font-family: "SK Modernist";
  src: url("../fonts/Sk-Modernist-Regular.otf") format("opentype");
}

// * {
//   cursor: none;
// }

html {
  height: 100vh;
  width: 100vw;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow: hidden;
}
h1 {
  font-family: "Tiempos Black Italic";
  font-size: 2.5rem;
  display: inline;
}
h2 {
  font-family: "National Light";
  font-size: 1.25rem;
  display: inline;
}
h3 {
  font-family: "Telegraf Medium";
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  // display: inline;
}
h4 {
  font-family: "Telegraf Ultralight";
  color: white;
  display: inline;
  font-size: 1.25rem;
}
p {
  font-family: "Telegraf Regular";
  font-size: 1.05rem;
  // -webkit-text-stroke: 0.05px white;
}
a {
  color: inherit;
  text-decoration: inherit;
}
